* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    text-align: center;
}

.container {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.35);
    font-size: 8vmin;
    background-color: aliceblue;
    color:maroon;
}

#reset-btn {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color:beige;
}

#newgame-btn {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color:beige;
}

.msg {
    margin-top: 20px;
}

#winmsg{
    margin-bottom: 10px;
    color:black;
    font-size: 6vmin;
}

#title {
    margin-top: 10px;
}

.hide {
    display: none;
}

.blue-container {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  height: 60px;           /* set your container height */
}